
.mainContainer {
  background-color: white;
  width: 750px;
  height: 650px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.subject {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin: 30px 75px 12px 10px;
  padding-bottom: 8px;
  border-bottom: solid 1px rgb(221, 220, 220);
}

.closeMailBtn {
  background-color: white;
  cursor: not-allowed;
  border: none;
}

.sender {
  width: 300px;
  display: inline-block;
}

.senderPfp {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
}

.contInfo {
  display: inline-block;
  margin-left: 10px;
}

.senderName {
  margin-bottom: 2px;
  font-weight: bold;

}

.senderMail {
  margin-top: 4px;
  font-weight: normal;
  color: rgb(104, 104, 104);
}

.mainContent {
  margin: 15px 10px 0px 10px;
  font-size: 18px;
}

.regBtn {
  margin: 180px 0px 0px 310px;
  padding: 10px 15px;
  background-color: greenyellow;
  color: white;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 7px;
}

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.bg {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}